
Praktikum/PAP 2.2/256 - Röntgenfluoreszenz/Skript_beta.pdf
Praktikum/PAP 2.2/256 - Röntgenfluoreszenz/Röntgenfluoreszenz_beta.ipynb
Praktikum/PAP 2.2/256 - Röntgenfluoreszenz/Skript_beta.pdf
Praktikum/211 - Gekoppelte Pendel/Gekopplete_Pendel.xlsx
